<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicolasbahamon.cryptocoins">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Aplicacion"
        android:allowBackup="true"
        android:icon="@mipmap/icon_crypto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_crypto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasterNodes"
            android:screenOrientation="landscape" />
        <activity android:name=".CoinInfo" />
        <activity android:name=".TrackMasterNodes" />
        <activity android:name=".AllCoins" />
        <activity android:name=".SettingsCoin" />
        <activity android:name=".ShowInfo" />
        <activity android:name=".FinancialResume"></activity>
    </application>

</manifest>